

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>

<script>
    $(function () {
        const optionsTable = $('#optionsTable');
        let products = [];
        let productSearchFilled = false;
        $(document).ready(function () {
            $("#productSearch").on('input', function () {
                if ($(this).val().trim() !== '') {
                    loadProducts();
                    productSearchFilled = true;
                }
            });
            function loadProducts() {
                if (!productSearchFilled) return;
                $.ajax({
                    url: '/open_api/option/product',
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        products = response.map(function (product) {
                            return {
                                label: product.title + " (" + product.ref + ")",
                                value: product.title,
                                id: product.id,
                                options: product.option_ids || []
                            };
                        });
                        $("#productSearch").autocomplete({
                            source: products,
                            select: function (event, ui) {
                                $("#productSearch").val(ui.item.value);
                                applyFilters();
                                return false;
                            }
                        });
                        $("#productSearch").on('input', function () {
                            applyFilters();
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                    }
                });
            }

            function applyFilters() {
                let filterText = $("#searchInput").val().toUpperCase();
                let productFilterText = $("#productSearch").val().toUpperCase();
                let minPrice = parseInt($('#minPrice').val().replace(/\s/g, '')) || 0;
                let maxPrice = parseInt($('#maxPrice').val().replace(/\s/g, '')) || Infinity;
                let onlineStatus = $('#onlineSelect').val();


                optionsTable.find('tbody tr').each(function () {
                    let optionId = $(this).data('option-id');
                    let price = parseInt($(this).find('td:nth-child(5)').text().replace(/\s/g, '')) || 0;
                    let online = $(this).find('.productVisibleToggle input').is(':checked');
                    let matchPrice = (price >= minPrice) && (price <= maxPrice);
                    let matchStatus = (onlineStatus === 'all') || (onlineStatus === 'online' && online) || (onlineStatus === 'offline' && !online);

                    let matchProduct = true;
                    if (productFilterText) {
                        matchProduct = products.some(function (product) {
                            return product.value.toUpperCase().includes(productFilterText) && product.options.includes(optionId);
                        });
                    }
                    let matchSearchInput = true;
                    if (filterText) {
                        matchSearchInput = $(this).text().toUpperCase().includes(filterText);
                    }
                    if (matchPrice && matchStatus && matchProduct && matchSearchInput) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                optionsTable.find('thead, tfoot').show();
            }

            $('#minPrice, #maxPrice, #onlineSelect').on('input change', function () {
                applyFilters();
            });
            function fixTableHeader() {
                const scrollTop = $(window).scrollTop();
                const tableOffset = optionsTable.offset().top;
                if (scrollTop > tableOffset) {
                    $('.search-bar').addClass('sticky');
                } else {
                    $('.search-bar').removeClass('sticky');
                }
            }

            fixTableHeader();
            $(window).scroll(function () {
                fixTableHeader();
            });
            $('#searchInput').on('keyup', function () {
                applyFilters();
            });

            function update_price(price, price_type, dest_field_id) {
                const tax_rule_id = $('#tax_rule_field').val();
                if (tax_rule_id !== "") {
                    var operation;

                    if (price_type.indexOf('with-tax') !== -1)
                        operation = 'from_tax';
                    else if (price_type.indexOf('without-tax') !== -1)
                        operation = 'to_tax';
                    else
                        operation = '';
                    $.ajax({
                        url: '{url path="/admin/product/calculate-raw-price"}',
                        data: {
                            price: price,
                            action: operation,
                            tax_rule: tax_rule_id
                        },
                        type: 'get',
                        dataType: 'json',
                        success: function (json) {
                            $('#' + dest_field_id).val(json.result);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("{intl l='Failed to get prices. Please try again.'} (" + errorThrown + ")");
                        }
                    });
                }
            }
            function sanitizeFloat(numVal) {
                return numVal.replace(",", ".");
            }
            $('.automatic_price_field').on('keyup', function () {
                let price = $(this).val();
                $(this).val(sanitizeFloat(price));
                update_price($(this).val(), $(this).data('price-type'), $(this).data('rel-price'));
                optionsTable.find('thead, tfoot').show();
            });
        });
        $(document).ready(function () {
            function loadCategories() {
                $.ajax({
                    url: '',
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        response.forEach(function (category) {
                            $('#categorySelect').append('<option value="' + category.id + '">' + category.name + '</option>');
                        });
                    },
                    error:
                        function (jqXHR, textStatus, errorThrown) {
                            console.error('Erreur lors du chargement des catégories:', errorThrown);
                        }
                });
            }
            loadCategories();
        });

        $(document).ready(function () {
            // Function to sort table
            function sortTable(table, col, order) {
                const rows = table.find('tbody > tr').get();
                rows.sort(function (a, b) {
                    let A = $(a).children('td').eq(col).find('input[type="checkbox"]').length ?
                        $(a).children('td').eq(col).find('input[type="checkbox"]').prop('checked') :
                        $(a).children('td').eq(col).text().toUpperCase();
                    let B = $(b).children('td').eq(col).find('input[type="checkbox"]').length ?
                        $(b).children('td').eq(col).find('input[type="checkbox"]').prop('checked') :
                        $(b).children('td').eq(col).text().toUpperCase();
                    if (A < B) {
                        return order === 'asc' ? -1 : 1;
                    }
                    if (A > B) {
                        return order === 'asc' ? 1 : -1;
                    }
                    return 0;
                });
                $.each(rows, function (index, row) {
                    table.children('tbody').append(row);
                });
            }

            $('th').click(function () {
                if ($(this).hasClass('no-sort')) return;
                const table = $(this).parents('table').eq(0);
                const column = $(this).index();
                const order = $(this).hasClass('asc') ? 'desc' : 'asc';

                $('th').removeClass('asc').removeClass('desc');
                $(this).addClass(order);

                sortTable(table, column, order);
            });

            $('.sort-up, .sort-down').click(function (event) {
                event.stopPropagation();

                const th = $(this).closest('th');
                if (th.hasClass('no-sort')) return;
                const table = $(this).closest('table');
                const column = th.index();
                const order = $(this).data('sort');
                $('th').removeClass('asc').removeClass('desc');
                th.addClass(order);
                sortTable(table, column, order);
            });

            document.addEventListener('DOMContentLoaded', function() {
                const sortArrows = document.querySelector('.sort-arrows');
                const sortUp = sortArrows.querySelector('.sort-up');
                const sortDown = sortArrows.querySelector('.sort-down');
                sortArrows.addEventListener('click', function(event) {
                    if (event.target.dataset.sort === 'asc') {
                        sortUp.classList.add('active');
                        sortUp.classList.remove('inactive');
                        sortDown.classList.remove('active');
                        sortDown.classList.add('inactive');
                    } else if (event.target.dataset.sort === 'desc') {
                        sortDown.classList.add('active');
                        sortDown.classList.remove('inactive');
                        sortUp.classList.remove('active');
                        sortUp.classList.add('inactive');
                    }
                });
            });
        });
    });



</script>
